<% provide(:title, "Now") %>

<h1>Now</h1>
  <p>This is my /now page.<br />
     It’s a page with information about what I’m up to now.<br />
     Inspired by the <a href="http://sivers.org/nowff" target="_blank">/now page movement</a> by <a href="http://sivers.org/" target="_blank">Derek Sivers</a>. </p>

  <ul>
    <li>Currently working full time as a project engineer at <a href="http://www.de-simone.com" target="_blank">DeSimone Consulting Engineers</a> out of their Las Vegas Office.</li>
    <ul>
      <li>I bill most of my time to this project: <a href="http://rwlasvegas.com" target="_blank">Resorts World Las Vegas</a>.</li>
    </ul>
    <li>Building this website.</li>
  </ul>
