<footer class="footer">
  <small>
    The <a style="color:#2070cc;" href="#">SchoemanApp</a>
    by <a href="#">John Schoeman</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
